<div class="details-container">
    <div class="details-card">
        <div class="card-header">
            <div class="today-forecast">
                <div class="temperature">
                    28°
                </div>
                <div class="weather">
                    Sunny
                </div>
                <div class="conditions">
                    <div class="humidity">
                        <span>Humidity</span>
                        <span>65%</span>
                    </div>
                    <div class="humwind-separator"></div>
                    <div class="wind">
                        <span>Wind</span>
                        <span>10Km/h</span>
                    </div>
                </div>
            </div>
            <div class="city">
                <span>Bucharest</span>
            </div>
        </div>
        <div class="card-main">
            <div class="future-forecast">
                <div class="day">
                    <span>Mon</span>
                    <div class="weather-icon">
                        <svg viewBox="0 0 262 262"><defs><style>.a{fill:#ffde17;}</style></defs><circle class="a" cx="131" cy="131" r="131"/></svg>
                    </div>
                    <div class="temperature">
                        26°
                    </div>
                    <div class="weather">
                        Sunny
                    </div>
                </div>
                <div class="day">
                    <span>Mon</span>
                    <div class="weather-icon">
                        <svg viewBox="0 0 262 262"><defs><style>.a{fill:#ffde17;}</style></defs><circle class="a" cx="131" cy="131" r="131"/></svg>
                    </div>
                    <div class="temperature">
                        26°
                    </div>
                    <div class="weather">
                        Sunny
                    </div>
                </div>
                <div class="day">
                    <span>Mon</span>
                    <div class="weather-icon">
                        <svg viewBox="0 0 262 262"><defs><style>.a{fill:#ffde17;}</style></defs><circle class="a" cx="131" cy="131" r="131"/></svg>
                    </div>
                    <div class="temperature">
                        26°
                    </div>
                    <div class="weather">
                        Sunny
                    </div>
                </div>
                <div class="day">
                    <span>Mon</span>
                    <div class="weather-icon">
                        <svg viewBox="0 0 262 262"><defs><style>.a{fill:#ffde17;}</style></defs><circle class="a" cx="131" cy="131" r="131"/></svg>
                    </div>
                    <div class="temperature">
                        26°
                    </div>
                    <div class="weather">
                        Sunny
                    </div>
                </div>
                <div class="day">
                    <span>Mon</span>
                    <div class="weather-icon">
                        <svg viewBox="0 0 262 262"><defs><style>.a{fill:#ffde17;}</style></defs><circle class="a" cx="131" cy="131" r="131"/></svg>
                    </div>
                    <div class="temperature">
                        26°
                    </div>
                    <div class="weather">
                        Sunny
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>