<!-- Slide menu -->

<aside class="side-menu" [ngClass]="{'side-menu__active': showMenu}" (click)="toggleMenu();">
  <nav class="menu" [ngClass]="{'menu__active': showMenu}" (click)="$event.stopImmediatePropagation();">
    <section class="menu--header">
      <span class="greeting">Welcome Back</span>
      <div class="account">
        <div class="avatar-container">
          <img class="avatar" src="https://avatars1.githubusercontent.com/u/26151935?s=400&u=53845efa923f85fe4e9ef68335e18af003600f83&v=4" alt="avatar">
        </div>
        <div class="details">
          <span class="name">Braga Raducu</span>
          <span class="email">radu.braga96@gmail.com</span>
        </div>
      </div>
    </section>

    <section class="menu--body">

    </section>

    <section class="menu--footer">

    </section>
  </nav>
</aside>

<!-- /Slide menu -->

<!-- Root -->

<div class="root-container">
  <header class="header" [ngClass]="{'header__dark': darkModeActive}">
    <div class="left-section">
      <svg (click)="toggleMenu()" class="hamburger-icon"id="Menu_Burger_Icon" viewBox="0 0 50 32">
        <defs>
          </defs>
          <rect id="Rectangle_9" width="50" height="4" class="hamburger-icon__fill" [ngClass]="{'hamburger-icon__fill__dark': darkModeActive}" data-name="Rectangle 9" rx="2" transform="translate(0 0)"/>
          <rect id="Rectangle_10" width="50" height="4" class="hamburger-icon__fill" [ngClass]="{'hamburger-icon__fill__dark': darkModeActive}" data-name="Rectangle 10" rx="2" transform="translate(0 14)"/>
          <rect id="Rectangle_11" width="50" height="4" class="hamburger-icon__fill" [ngClass]="{'hamburger-icon__fill__dark': darkModeActive}" data-name="Rectangle 11" rx="2" transform="translate(0 28)"/> 
      </svg>

      <svg class="logo-icon" viewBox="0 0 300 43">
        <path fill="#00ff9b" d="M0 43V0L43 43z" data-name="Path 1"/>
        <path fill="#003eff" d="M43 43h-43L43 0z" data-name="Path 2"/>
        <text class="logo-text" [ngClass]="{'logo-text__dark': darkModeActive}" fill="#432c85" font-family="SegoeUI-Semibold,Segoe UI" font-size="30" font-weight="600" letter-spacing=".1em" transform="translate(85 35)">
        <tspan x="0" y="0">Minimis</tspan>
        </text>
      </svg>
    </div>
    <h3 class='date'>Today</h3>
    <div class="mode-toggler">
      <span class="mode">Light</span>
      <div (click)="toggleMode()" class="switch-container" >
        <span class="switch-bg" [ngClass]="{'switch-bg__checked': darkModeActive}"></span>
        <span class="switch-circle" [ngClass]="{'switch-circle__checked': darkModeActive}"></span>
      </div>
      <span class="mode">Dark</span>
    </div>
  </header>  
  
  <!-- Main Content -->

  <main class="main" [ngClass]="{'main__dark': darkModeActive}">
    <router-outlet></router-outlet>
  </main>

  <!-- /Main Content -->

  <!-- Footer -->
  
  <footer class="footer">
    <small class="copyright">Copyright © 2018 Minimus</small>
  </footer>
  
  <!-- /Footer -->
</div>

<!-- Root -->